<div class="mat-elevation-z8">

  <div>
    <button type="button" (click)="openDialog()">Add group</button>
  </div>
  <div>
    <div>
      Upload from CSV
    </div>
    <div>
      <input  type="file" (change)="changeListener($event.target.files)">
      <button md-raised-button (click)="showGuide();">Guide</button>
    </div>
  </div>


  <table mat-table [dataSource]="dataSource" class="full-width-table" matSort aria-label="Elements">
    
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- Actions colums-->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
      <td mat-cell *matCellDef="let row">
        <a [routerLink]="['/members', row.id]"><button md-raised-button>Edit</button></a>
        <a [routerLink]="['/terms/group', row.id]"><button md-raised-button>Terms</button></a>
        <button md-raised-button (click)="deleteGroup(row);" >Delete</button> </td>
    </ng-container> 

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div id="ungrouped">
    <a [routerLink]="['/members/users/ungrouped']">Ungrouped</a>
  </div>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>