
<mat-toolbar color="primary" class="actions">

  <a *ngIf=memberGroup [routerLink]="['/terms/group',memberGroup.id]">
    <button 
    type="button"
    aria-label="Back to members"
    mat-icon-button
    >
    <mat-icon matTooltip="Back to members" aria-label="Back to members">arrow_back_ios</mat-icon>
  </button>
  </a>
</mat-toolbar>

  <mat-card class="centered">
    <mat-card-title *ngIf=memberGroup>Add a term for {{memberGroup.name}}</mat-card-title>
<mat-card-content>
  <form [formGroup]="addTermForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="daysOfWeek">Day of week</label>
      <select formControlName="daysOfWeek" id="daysOfWeek">
        <option></option>
        <option *ngFor="let day of daysOfWeek; let i = index" [ngValue]="i">
          {{daysOfWeek[i]}}
        </option>
      </select>
    </div>
  
    <div>
      <mat-form-field>
        <input matInput formControlName="startTime" placeholder="Start time" [format]="24" aria-label="12hr format" [ngxTimepicker]="startTime" required readonly>
        <ngx-material-timepicker #startTime></ngx-material-timepicker>
      </mat-form-field>
    </div>
      
    <div>
      <mat-form-field>
        <input formControlName="durationMinutes" type="number" matInput placeholder="Duration in minutes"  required  minlength="1">
      </mat-form-field>
    </div>
  
    <div>
      <button type="submit" class="btn-submit" [disabled]="!addTermForm.valid">Add</button>
    </div>
  </form>
  
</mat-card-content>
</mat-card>