<mat-toolbar color="primary" class="actions">

  <a *ngIf=membership&&appUser [routerLink]="['/payments/membership',membership.id,'user',appUser.id]">
    <button 
    type="button"
    aria-label="Back to payments"
    mat-icon-button
    >
    <mat-icon matTooltip="Back to payments" aria-label="Back to payments">arrow_back_ios</mat-icon>
  </button>
  </a>
</mat-toolbar>

  <mat-card class="centered">
    <mat-card-title *ngIf=appUser>Add payment for {{appUser.name}} {{appUser.surname}} </mat-card-title>
<mat-card-content>
  <form [formGroup]="addPaymentForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field>
        <input formControlName="amount" type="number" matInput placeholder="Amount"  required  minlength="1">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Payment Date</mat-label>
        <input formControlName="dateOfPayment" matInput readonly required [matDatepicker]="dateOfPayment">
        <mat-datepicker-toggle matSuffix [for]="dateOfPayment"></mat-datepicker-toggle>
        <mat-datepicker #dateOfPayment></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <button type="submit" class="btn-submit" [disabled]="!addPaymentForm.valid">Add</button>
    </div>
  </form>
</mat-card-content>
</mat-card>