<mat-toolbar color="primary" class="actions">

  <a [routerLink]="['/sessions']">
    <button 
    type="button"
    aria-label="Back to group choose"
    mat-icon-button
    >
    <mat-icon matTooltip="Back to group choose" aria-label="Back to group choose">arrow_back_ios</mat-icon>
  </button>
  </a>

  <span class="spacer"></span>

  <div *ngIf=allPeriods>
    <select id="allPeriods" (change)="periodSelected($event)">
      <option value="">Select a period</option>
      <option *ngFor="let period of allPeriods; let i = index" [ngValue]="i">
        {{allPeriods[i].month}}-{{allPeriods[i].year}}
      </option>
    </select>
  </div>

  <span class="spacer"></span>
  
  <div class="actions-panel" *ngIf=showAutoGenerateButton>
    <button (click)="openDialog();"
    type="button"
    aria-label="Auto generate"
    mat-icon-button
    >
    <mat-icon matTooltip="Auto generate" aria-label="Auto generate">autorenew</mat-icon>
  </button>
  
  <button (click)="deleteAll();"
  type="button"
  aria-label="Delete all"
  mat-icon-button
  >
  <mat-icon matTooltip="Delete all"  aria-label="Delete all">delete</mat-icon>
  </button>
  </div>
</mat-toolbar>

<div class="mat-elevation-z8">
  <table [dataSource]="dataSource" mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td (click)="viewTrainingClick(row);" mat-cell *matCellDef="let row">{{row.dateHeld | date:'d.M.'}} {{row.dayOfWeek}}</td>
    </ng-container>

    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef >Time</th>
      <td (click)="viewTrainingClick(row);" mat-cell *matCellDef="let row">{{row.timeHeld}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
  </div>
  