<mat-toolbar class="actions" color="primary">

  <a *ngIf=memberGroup 
  [routerLink]="['/members',memberGroup.id]" class="back-icon">
    <button class="back-icon" 
    type="button"
    aria-label="Back to group"
    mat-icon-button
    >
    <mat-icon matTooltip="Back to group" aria-label="Back to group">arrow_back_ios</mat-icon>
  </button>
  </a>

  <span class="spacer"></span>

  <div *ngIf=memberGroup class="actions-panel" >
    <a class="back-icon" [routerLink]="['/terms/group',memberGroup.id,'add']">
      <button class="back-icon" 
      type="button"
      aria-label="Add term"
      mat-icon-button
      >
      <mat-icon matTooltip="Add term" aria-label="Add term">add_circle</mat-icon>
    </button>
    </a>
  </div>

</mat-toolbar>

<div class="mat-elevation-z8">
  <table [dataSource]="dataSource" mat-table class="full-width-table" matSort aria-label="Elements">

    <!-- Day Column -->
    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef >Day</th>
      <td mat-cell *matCellDef="let row">{{daysOfWeek[row.dayOfWeek]}}</td>
    </ng-container>

    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef >Time</th>
      <td mat-cell *matCellDef="let row">{{row.startTime}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr (click)="viewTermClick(row.id);" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
