<div class="mat-elevation-z8">
  <div>
    <a [routerLink]="['/terms/group',memberGroupId,'add']"><button md-raised-button>Add term</button></a>
  </div>
  <table [dataSource]="dataSource" mat-table class="full-width-table" matSort aria-label="Elements">

    <!-- Day Column -->
    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Day</th>
      <td mat-cell *matCellDef="let row">{{daysOfWeek[row.dayOfWeek]}}</td>
    </ng-container>

    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
      <td mat-cell *matCellDef="let row">{{row.startTime}}</td>
    </ng-container>

    <!-- Actions colums-->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button md-raised-button (click)="deleteTerm(row);" >Delete</button> </td>
    </ng-container> 

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
