<mat-toolbar color="primary" class="actions">

  <span class="spacer"></span>
  
  <div class="actions-panel" >
    <button (click)="openDialog();"
    type="button"
    aria-label="Change default membership price"
    mat-icon-button
    >
    <mat-icon matTooltip="Change default membership price" aria-label="Change default membership price">local_offer</mat-icon>
  </button>
  </div>
</mat-toolbar>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="full-width-table" matSort aria-label="Elements">
    <!-- Name Column -->
    <ng-container matColumnDef="month">
      <th mat-header-cell *matHeaderCellDef >Month</th>
      <td mat-cell *matCellDef="let row" >{{row.period.month}}-{{row.period.year}}</td>
    </ng-container>

    <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr (click)="viewMembershipClick(row);" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
