<mat-toolbar color="primary" class="actions">


  <span class="spacer"></span>

  <div class="actions-panel" >
    <button (click)="loadPosts();"
    type="button"
    aria-label="Refresh"
    mat-icon-button
    >
    <mat-icon matTooltip="Refresh" aria-label="Refresh">autorenew</mat-icon>
  </button>

      <button (click)="openDialog();"
      type="button"
      aria-label="Create post"
      mat-icon-button
      >
      <mat-icon matTooltip="Create post" aria-label="Create post">add_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="mat-elevation-z8">

  <table [dataSource]="dataSource" mat-table class="full-width-table" matSort aria-label="Elements">

    <!-- Name Column -->
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>By</th>
      <td mat-cell *matCellDef="let row">{{row.appUser.name}}</td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let row">{{row.title.substr(0,15)}}</td>
    </ng-container>

    <!-- Datetime Column -->
    <ng-container matColumnDef="dateTime">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let row">{{row.dateTime | date:'d.M.yyyy'}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="viewPostClick(row.id);" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
