<mat-toolbar color="primary" class="actions">

    <a *ngIf=appUser&&appUser.memberGroup [routerLink]="['/members',appUser.memberGroup.id]">
      <button 
      type="button"
      aria-label="Back to members"
      mat-icon-button
      >
      <mat-icon matTooltip="Back to members" aria-label="Back to members">arrow_back_ios</mat-icon>
    </button>
    </a>

    <a *ngIf=appUser&&!appUser.memberGroup [routerLink]="['/members/users/ungrouped']">
      <button 
      type="button"
      aria-label="Back to members"
      mat-icon-button
      >
      <mat-icon matTooltip="Back to members" aria-label="Back to members">arrow_back_ios</mat-icon>
    </button>
    </a>

    <span class="spacer"></span>

    <div *ngIf=appUser class="actions-panel" >
      <button (click)="deleteMember();"
      type="button"
      aria-label="Delete member"
      mat-icon-button
      >
      <mat-icon matTooltip="Delete member" aria-label="Delete member">delete</mat-icon>
    </button>
    
    </div>
  </mat-toolbar>
  
    <mat-card class="centered">
      <mat-card-title *ngIf=appUser>Member info</mat-card-title>
  <mat-card-content>
    <form [formGroup]="appUserForm" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field>
          <input formControlName="username" type="text" matInput placeholder="Email">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input formControlName="name" type="text" matInput placeholder="Name" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input formControlName="surname" type="text" matInput placeholder="Surname"required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input formControlName="gender" type="text" matInput placeholder="Gender"required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Date of Birth</mat-label>
          <input formControlName="dateOfBirth" matInput readonly [matDatepicker]="dateOfBirth">
          <mat-datepicker-toggle matSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
          <mat-datepicker #dateOfBirth></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input formControlName="jmbg" type="text" matInput placeholder="Jmbg" pattern="[0-9 ]*" required minlength="13" maxlength="13">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input formControlName="adress" type="text" matInput placeholder="Adress">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input formControlName="phoneNumber" type="text" matInput placeholder="Phone number">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Date Joined</mat-label>
          <input formControlName="dateJoined" matInput readonly [matDatepicker]="dateJoined">
          <mat-datepicker-toggle matSuffix [for]="dateJoined"></mat-datepicker-toggle>
          <mat-datepicker #dateJoined></mat-datepicker>
        </mat-form-field>
      </div>
  
      <div>
        <label for="memberGroups">Group</label>
        <select formControlName="memberGroups" id="memberGroups">
          <option value="">Select a group</option>
          <option *ngFor="let memberGroup of memberGroups; let i = index" [ngValue]="memberGroups[i]">
            {{memberGroups[i].name}}
          </option>
        </select>
      </div>
      
      <div>
        <button type="submit" class="btn-submit" [disabled]="!appUserForm.valid">Save</button>
      </div>
    </form>
  </mat-card-content>
  </mat-card>