.sidenav-container {
    height: 100%;
    position: fixed;
    min-width: 100%;
    background-image: url("/assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    color: rgb(211, 195, 195);
  }
  
  .sidenav {
    width: 200px;
    background-color: rgba(11, 11, 20, 0.61);
  }
  
  .sidenav .mat-toolbar {
    background-color: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .mat-toolbar.mat-primary{background:rgba(11, 11, 20, 0.61);color:#fff}  

  .menu-text{
    color:rgb(216, 216, 175);
  }

 a :hover{
   color: rgb(80, 79, 32);
 }

 .mat-toolbar{
   color: rgb(80, 79, 32);
 }

 .mat-table{
  left: 50%;
  color: white;
  background-color: rgba(186, 186, 219, 0.671);
  width: 80%;

  border-collapse: collapse;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  overflow: hidden;
}

.mat-elevation-z8{
  margin-top: 2%;
  top: auto;
  width: 70%;
  margin-left:auto; 
  margin-right:auto;
  text-align: center;
}

.mat-paginator{
  background-color: rgba(186, 186, 219, 0.671);
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

tr.mat-row:hover, tr.mat-footer-row:hover {
  background-color: rgb(139, 138, 201);
}

.mat-toolbar.mat-primary button :hover{
  color: bisque;
}

.mat-toolbar a :active :visited{
  color:white;
}

.mat-toolbar a{
  color:white
}

.mat-toolbar a :hover{
  color: bisque;
}

.mat-toolbar.mat-primary.actions{
  background:rgba(11, 11, 20, 0.0);
  color:#fff; 
  padding: 0;
  position: relative;
  top: 11%;
  z-index: 0;
}

.mat-toolbar.mat-primary.actions a{
  margin-left: 2%;
}

span.spacer{
  flex: 1 1 auto;
}

div.actions-panel{
  margin-right: 1%;
  border-width: 1pt;
  border-color: white;
  border-style: solid;
  border-radius: 4pt;
}

.mat-row :hover{
  cursor: pointer;
}

.mat-row.no-link-row :hover{
  cursor: auto;
}

.centered{
  width: 50%;
  margin:auto;
  margin-top: 5%;
  text-align: center;
  border-radius: 10pt;
  background-color: rgba(197, 184, 245, 0.932);
}

.mat-form-field {
  margin-top: 1%;
  display: inherit;
  position: relative;
  text-align: left;
  font-size: medium;
  color: rgb(20, 13, 56);
  width: 70%;
  }

  .mat-card-title{
    color: rgb(20, 13, 56);
    margin-bottom: 2%;
  }
  
  .mat-input-element {
    caret-color: rgb(20, 13, 56);
  }
  
  .btn-submit{
  padding: 5px;
  width: 40%;
  font-size: 14pt;
  margin: 12px 0;
  color:rgb(20, 13, 56);  
  }