<div class="toolbar">
    Sports Club
</div>
<div class="login-box">
<h1>Set your password</h1>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

    <div class="textbox">
        <i class="fas fa-lock"></i>
        <input formControlName="password" type="password" matInput required placeholder="Password">
    </div>

    <div class="textbox">
        <i class="fas fa-lock"></i>
        <input formControlName="confirmPassword" type="password" matInput required placeholder="Confirm password">
    </div>
    <div>
        <button class="btn-submit" type="submit" [disabled]="!passwordForm.valid">Register</button>
    </div>
 
  </form>
  </div>