<mat-toolbar color="primary" class="actions">

  <a [routerLink]="['/competitions']">
    <button 
    type="button"
    aria-label="Back to competitions"
    mat-icon-button
    >
    <mat-icon matTooltip="Back to competitions" aria-label="Back to competitions">arrow_back_ios</mat-icon>
  </button>
  </a>

  <span class="spacer"></span>
  
  <div class="actions-panel" *ngIf=competition>

    <div *ngIf="loggedIn==='MEMBER'">
      <a [routerLink]="['/competitions',competition.id,'apply']">
        <button
        type="button"
        aria-label="Apply for competition"
        mat-icon-button
        >
        <mat-icon matTooltip="Apply for competition" aria-label="Apply for competition">open_in_browser</mat-icon>
      </button>
      </a>
    </div>

    <div *ngIf="loggedIn==='COACH'||loggedIn==='MANAGER'">
      <button (click)="sendInvitations();"
      type="button"
      aria-label="Send invites"
      mat-icon-button
      >
      <mat-icon matTooltip="Send invites" aria-label="Send invites">email</mat-icon>
    </button>
    
    <a [routerLink]="['/competitions',competition.id,'applications']">
      <button
      type="button"
      aria-label="View applied users"
      mat-icon-button
      >
      <mat-icon matTooltip="View applied users" aria-label="View applied users">group</mat-icon>
    </button>
    </a>
  
  <button (click)="deleteCompetition();"
  type="button"
  aria-label="Delete competition"
  mat-icon-button
  >
  <mat-icon matTooltip="Delete competition"  aria-label="Delete competition">delete</mat-icon>
  </button>
    </div>

  </div>

</mat-toolbar>

  <mat-card class="centered">
    <mat-card-title *ngIf=competition>{{competition.name}}</mat-card-title>
<mat-card-content>
  <form [formGroup]="editCompetitionForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field>
        <input formControlName="name" type="text" matInput placeholder="Name" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input formControlName="description" type="text" matInput placeholder="Description">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input formControlName="location" type="text" matInput placeholder="Location" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input formControlName="dateHeld" matInput readonly [matDatepicker]="dateHeld" required>
        <mat-datepicker-toggle matSuffix [for]="dateHeld"></mat-datepicker-toggle>
        <mat-datepicker #dateHeld></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput formControlName="startTime" placeholder="Start time" [format]="24" aria-label="12hr format" [ngxTimepicker]="startTime" required readonly>
            <ngx-material-timepicker #startTime></ngx-material-timepicker>
        </mat-form-field>
    </div>
    <div *ngIf="loggedIn==='COACH'||loggedIn==='MANAGER'">
      <button type="submit" class="btn-submit" [disabled]="!editCompetitionForm.valid">Save</button>
    </div>
  </form>
</mat-card-content>
</mat-card>